:host {
    display: block;
    margin-right: 54px;
    margin-left: 24px;
}

::ng-deep .pip-main-xs .pip-jumbotron, ::ng-deep .pip-main-sm .pip-jumbotron {
    .pip-jumbotron-picture {
        margin: 0 auto 0px;
        width: 100%;
        text-align: center;
    }
}