<div class="pip-jumbo-title">
    <span>{{ item.title }}:</span>
    <span class="text-overflow pip-jumbo-title-bold pip-jumbo-title-small">{{ item.text }}</span> •
    <span>{{ item.secondTitle }}:</span>
    <span class="flex pip-jumbo-title-bold">{{ item.secondText }}</span>
</div>
<div class="pip-jumbo-subtitle text-overflow">
    <span>{{ item.subtitle }}:</span>
    <span class="pip-jumbo-subtitle-bold">{{ item.subtext }}</span> •
    <span class="pip-jumbo-subtitle-bold">{{ item.subtextSecond }}</span>
</div>