<p> <b>Reference list</b> is a list filled with Reference items.</p>

<mat-nav-list>
  <pip-ref-item *ngFor="let shoe of typesOfShoes" [id]="shoe.id" [title]="shoe.title" [subtitle]="shoe.subtitle" [img]="shoe.img"
                (select)="select($event)" [isOverflow]="shoe.isOverflow" [letterSource]="shoe.title && shoe.title.toUpperCase()"></pip-ref-item>
</mat-nav-list>

<p> They can also be selected.</p>
<pip-selected (onSelect)="index = $event" [index]="index">
  <mat-nav-list>
    <pip-ref-item pipSelectable *ngFor="let shoe of typesOfShoes" [id]="shoe.id" [title]="shoe.title" [subtitle]="shoe.subtitle" (click)="onClick()"
                  [img]="shoe.img" (select)="select($event)" [isOverflow]="shoe.isOverflow" [letterSource]="shoe.subtitle && shoe.subtitle.toUpperCase()">
      <pip-ref-item-actions>
        <button mat-icon-button secondary=true>
          <mat-icon aria-label="DELETE" (click)="onDelete($event)"> close
          </mat-icon>
        </button>
      </pip-ref-item-actions>
    </pip-ref-item>
  </mat-nav-list>
</pip-selected>