<mat-sidenav-container  class="content">
    <mat-toolbar color="primary">
        <span fxLayout="row" fxLayoutAlign="start center"  fxFlex="grow">
            <span fxFlex="grow">Controls</span>
            <mat-form-field>
                    <mat-select
                    [(ngModel)]="theme"
                    (ngModelChange)="changeTheme($event)">
                        <mat-option *ngFor="let theme of themes" [value]="theme" >
                            {{theme}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
        </span>
    </mat-toolbar>
    <div fxLayout="row" style="height: calc(100% - 68px);">
        <examples-list [list]="list" [selectedItemIndex]="listIndex" (selectedItemIdChange)="onListItemIndexChanged($event)">
        </examples-list>
        <div fxFlex="grow" style="width: calc(100% - 300px); 
                        overflow: auto">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-sidenav-container>