examples-list {
    width: 300px;
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

::ng-deep color-picker-example, ::ng-deep empty-state-example {
    flex: 1 1 100%;
    padding: 16px;
}
